{% assign is_password = false %}
{% if template == "password" %}
  {% assign is_password = true %}
{% endif %}

<div class="form {% if context == 'footer-menu' %}grid-item-25{% endif %} {{ context }} mailing-list-form" data-mailing-list {{ block.shopify_attributes }}>
  {% form "customer" %}

    {% assign mailing_list_header = 'modules.mailing_list.header' | t %}

    {% if context == 'footer-menu' %}
      {% if mail_title != blank %}
        <h4 class="">{{ mail_title }}</h4>
      {% else %}
        <h4 class="section-title">{{ mailing_list_header }}</h4>
      {% endif %}
    {% endif %}

    {% if template == 'password' %}
      {% if mailing_list_header != blank %}
        <h5 class="section-title">{{ mailing_list_header }}</h5>
      {% endif %}
    {% endif %}

    {% if block.settings.text != blank and block.settings.text != '<p></p>' %}
      <div class="section-text rte">{{ block.settings.text }}</div>
    {% endif %}

    <div class="form-errors">
      {{ form.errors | default_errors }}
    </div>

    {% if form.posted_successfully? %}
      <p class="form-success">{{ 'password.mailing_list.success' | t }}</p>
    {% else %}

      <div class="form-field email-field">
          <input type="hidden" name="contact[tags]" value="" data-mailing-list-tags>

        <label class="form-label email-field__label" for="{% if context == 'footer-menu' %}footer-{% endif %}mailing-list-email" aria-label="{{ 'modules.mailing_list.email' | t }}">
          <input class="form-input form-full email-field__input" type="email" name="contact[email]" id="{% if context == 'footer-menu' %}footer-{% endif %}mailing-list-email" placeholder="{{ 'modules.mailing_list.email' | t }}" value="{{ customer.email }}">
        </label>

        <button class="button button--gold hover-animation {% if is_password %}leader{% endif %}" type="submit" value="{{ 'modules.mailing_list.join' | t }}" aria-label="{{ 'modules.mailing_list.join' | t }}">{% render 'icon-arrow-down'%}</button>

        {% if is_password %}
          <button class="button sidekick" type="button" aria-label="{{ 'password.general.enter' | t }}" onclick="$('[data-password-form-wrapper]').toggleClass('visible')">{{ 'password.general.enter' | t }}</button>
        {% endif %}
      </div>

      <div class="form-actions">

      </div>
    {% endif %}

  {% endform %}
</div>
