{%- liquid
  assign content_side = "left"
  if section.settings.form_side == "right"
    assign content_side = "right"
  endif
  assign enable_additional_fields = section.settings.enable_additional_fields
  assign invert_colors = section.settings.invert_colors
  assign add_background = section.settings.add_background
 
-%}

<section>
    <div class="container main-contact-form">
        {% if add_background %}
          {% if section.settings.form_image != blank %}
          <style>
              .main-contact-form .img {
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
                height: 400px;
              }
          </style>
          <div class="main-contact-form__image {% if content_side == "right" %}main-contact-form__image--right{% endif %} main-contact-form__image--mobile-hidden">
            {%
              render 'image-bg',
              image_class: 'img',
              image: section.settings.form_image,
              image_default: false,
              image_sizes: false,
              image_additional_content: false,
              image_dimension: false,
              image_link: false
            %}
          </div> 

          <div class="main-contact-form__image main-contact-form__image--mobile">
            {%
              render 'image-bg',
              image_class: 'img',
              image: section.settings.form_image_mobile,
              image_default: false,
              image_sizes: false,
              image_additional_content: false,
              image_dimension: false,
              image_link: false
            %}
          </div> 
          
          {% else %}
						<span class="svg-placeholder {% if content_side == "right" %}main-contact-form__placeholder--right{% endif %}">{{ 'lifestyle-1' | placeholder_svg_tag }}</span>
          {% endif %}
        {% endif %}
        <div class="main-contact-form__content {% if content_side == "right" %}main-contact-form__content--right{% endif %}">
          {% render 'contact-form', invert_colors: invert_colors, enable_additional_fields: enable_additional_fields %}

          <div class="main-contact-form__text">
            {% if section.settings.section_heading%}
              <h2 class="main-contact-form__heading {% if add_background == false %} main-contact-form__heading--no-background {% endif %}">{{ section.settings.section_heading}}</h2>
            {% endif %}
            {% if section.settings.section_subheading%}
              <p class="main-contact-form__subheading {% if add_background == false %} main-contact-form__subheading--no-background {% endif %}">{{ section.settings.section_subheading}}</p>
            {% endif %}
            {% for block in section.blocks%}
              {%- liquid
                assign heading = block.settings.heading
              -%}
              {%if block.type == 'address'%}
                <div class="main-contact-form__info">
                  {% render 'contact-icons' icon: 'address'%}
                  <div class=info-block>
                    <h2 class="info-block__heading {% if add_background %}info-block__heading--inverted{% endif %}">{{heading}}</h2>
                    <p class="info-block__text {% if add_background %}info-block__text--inverted{% endif %}">{{block.settings.address}}</p>
                  </div>
              </div>
              {% endif %}
              {%if block.type == 'phone'%}
                <div class="main-contact-form__info"> 
                  {% render 'contact-icons' icon: 'phone'%}
                  <div class="info-block">
                    <h2 class="info-block__heading {% if add_background %}info-block__heading--inverted{% endif %}">{{heading}}</h2>
                    <p class="info-block__text {% if add_background %}info-block__text--inverted{% endif %}">{{block.settings.number}}</p>
                  </div>
                </div>
              {% endif %}
              {%if block.type == 'email_address'%}
                <div class="main-contact-form__info">
                  {% render 'contact-icons' icon: 'email'%}
                  <div class="info-block">
                    <h2 class="info-block__heading {% if add_background %}info-block__heading--inverted{% endif %}">{{heading}}</h2>
                    <p class="info-block__text {% if add_background %}info-block__text--inverted{% endif %}">{{block.settings.email}}</p>  
                  </div>
                </div>
              {% endif %}
            {% endfor %}
          </div>
        </div>

    </div>
</section>


{% schema %}
  {
   "name": "Contact Form",
   "class": "main-contact-form__wrapper",
   "settings":[
        {
          "type": "header",
          "content": "Section settings"
        },
        {
          "type": "text",
          "id": "section_heading",
          "label": "Section heading"
        },
        {
          "type": "text",
          "id": "section_subheading",
          "label": "Section subheading"
        },
        {
          "type": "header",
          "content": "Form settings"
        },
        {
          "type": "select",
          "id": "form_side",
          "label": "Form side",
          "options": [
            {
              "value": "left",
              "label": "Left"
            },
            {
              "value": "right",
              "label": "Right"
            }
          ]
        },
        {
          "type": "checkbox",
          "id": "enable_additional_fields",
          "label": "Enable additional fields",
          "default": false
        },
        {
          "type": "checkbox",
          "id": "invert_colors",
          "label": "Invert colors"
        },
        {
          "type": "header",
          "content": "Image background"
        },
        {
          "type": "checkbox",
          "id": "add_background",
          "label": "Add background"
        },
        {
          "type": "image_picker",
          "id": "form_image",
          "label": "Form image"
        },
        {
          "type": "image_picker",
          "id": "form_image_mobile",
          "label": "Form image for mobile"
        }
   ],
   "blocks":[
      {
        "name": "Address",
        "type": "address",
        "settings":[
          {
            "type": "text",
            "id": "heading",
            "label": "Heading"
          },
          {
            "type": "text",
            "id": "address",
            "label": "Address"
          }
        ]
      },
      {
        "name": "Phone",
        "type": "phone",
        "settings":[
          {
            "type": "text",
            "id": "heading",
            "label": "Heading"
          },
          {
            "type": "text",
            "id": "number",
            "label": "Phone number"
          }
        ]
      },
      {
        "name": "Email_address",
        "type": "email_address",
        "settings":[
          {
            "type": "text",
            "id": "heading",
            "label": "Heading"
          },
          {
            "type": "text",
            "id": "email",
            "label": "Email address"
          }
        ]
      }
   ],
    
    "presets": [
        {
            "name": "Contact us"
        }
    ]
  }
    {% endschema %}