<article data-section-id="{{ section.id }}" data-section-type="blog-post">
    <div class="container">  
                {%- if section.settings.show_share_buttons -%}
                    {%- capture share_buttons -%}
                    {%- assign share_url = shop.url | append: article.url -%}
                    {%- assign twitter_text = article.title | url_param_escape -%}
                    {%- assign pinterest_description = article.excerpt_or_content | strip_html | truncatewords: 15 | url_param_escape -%}
                    {%- assign pinterest_image = article.image | img_url: 'large' | prepend: 'https:' -%}
        
                    <!-- <ul class="social-media__item-list list--unstyled" role="list"> -->
                        <!-- <li class="social-media__item social-media__item--twitter"> -->
                            <a href="https://twitter.com/share?{% if twitter_text != blank %}text={{twitter_text}}&{% endif %}url={{ share_url }}" target="_blank" rel="noopener" aria-label="{{ 'general.social.twitter_tweet' | t }}">{%- render 'icon-twitter' -%}</a>
                        <!-- </li> -->
                        
                        <!-- <li class="social-media__item social-media__item--facebook"> -->
                            <a href="https://www.facebook.com/sharer.php?u={{ share_url }}" target="_blank" rel="noopener" aria-label="{{ 'general.social.facebook_share' | t }}">{%- render 'icon-facebook' -%}</a>
                        <!-- </li> -->
        
                        <!-- <li class="social-media__item social-media__item--pinterest"> -->
                            <a href="https://pinterest.com/pin/create/button/?url={{ share_url }}{% if pinterest_image != blank %}&media={{ pinterest_image }}{% endif %}&description={{ pinterest_description }}" target="_blank" rel="noopener" aria-label="{{ 'general.social.pinterest_pin' | t }}">{%- render 'icon-pinterest' -%}</a>
                        <!-- </li> -->
                    
                        <!-- <li class="social-media__item">
                            <a href="mailto:?&subject={{ article.title | escape }}&body={{ share_url }}" aria-label="{{ 'general.social.email_share' | t }}">{% render 'icon', icon: 'email-article' %}</a>
                        </li>
        
                        <li class="social-media__item">
                            <a href="mailto:?&subject={{ article.title | escape }}&body={{ share_url }}" aria-label="{{ 'general.social.email_share' | t }}">{% render 'icon', icon: 'instagram-article' %}</a>
                        </li> -->
                    <!-- </ul> -->
                    {%- endcapture -%}
                {%- endif -%}

            <div class="article">
                <div class="article__content">
                    {% if article.image %}
                        <figure class="article__content__image">
                            {{ article.image | img_url: "1024x" | img_tag }}
                        </figure>
                    {% endif %}
                                
                    <div class="article__content">
                        {{ article.content }}
                    </div>

                    {%- if section.settings.show_share_buttons or section.settings.show_tags and article.tags.size > 0 -%}
                        <div class="article__page__share">
                            {%- if section.settings.show_share_buttons -%}
                                    {{ share_buttons }}
                                    <span class="article-info_updated_at">
                                        {% assign updated_date = article.updated_at | date: '%d %b %Y' %}
                                        {{ 'blog.article.updated_at' | t: update_date: updated_date }}
                                    </span>
                            {%- endif -%}
                        </div>
                    {%- endif -%}  
                </div>
                

                <div class="article__page__author">
                    {% if section.settings.show_author%}
                        {{article.author}}
                        {{article.author.bio}}
                    {% endif %}
                </div>
                

                <div class="article__content__comments">
                    {%- if article.comments_enabled? -%}
                        <span id="comments" class="anchor"></span>
                        {%- if article.comments_count > 0 -%}
                            <div class="article__comment-list">                
                                {%- paginate article.comments by 50 -%}
                                    {%- for comment in article.comments -%}
                                        <div class="article-comment">
                                            {%- if section.settings.show_gravatar -%}
                                            <img class="article-comment__gravatar" src="//www.gravatar.com/avatar/{{ comment.email | md5 }}?s=100" alt="{{ comment.author }}">
                                            {%- endif -%}
                    
                                            <div class="article-comment__inner">
                                                <div class="written-by">{{ 'article.written_by' | t }}</div>
                                                <p class="article-comment__author text--strong">{{ comment.author }}</p>
                                                <div class="article-comment__content rte">
                                                    {{- comment.content -}}
                                                </div>
                                            </div>
                                        </div>
                                    {%- endfor -%}
                
                                    {%- render 'pagination', paginate: paginate -%}
                                {%- endpaginate -%}
                            </div>
                        {%- endif -%}
                
                        {%- form 'new_comment', article, class: 'article__comment-form form' -%}
                            <p class="article__comment-form-title heading h2">{{ 'blog.comments.leave_comment' | t }}</p>
                
                            {%- if blog.moderated? -%}
                                <p class="article__moderated-note">{{ 'blog.comments.approval_notice' | t }}</p>
                            {%- endif -%}
                
                            <div class="article__comment-form-wrapper">
                                {%- if form.posted_successfully? -%}
                                    <p class="alert alert--success">
                                    {%- if blog.moderated? -%}
                                        {{- 'blog.comments.success_moderated' | t -}}
                                    {%- else -%}
                                        {{- 'blog.comments.success' | t -}}
                                    {%- endif -%}
                                    </p>
                                {%- else -%}
                                    {%- if form.errors -%}
                                    <div class="alert alert--error">
                                        <ul class="alert__error-list" role="list">
                                        {%- for field in form.errors -%}
                                            {%- if field == 'form' -%}
                                            <li class="alert__error-item">{{ form.errors.messages[field] }}</li>
                                            {%- else -%}
                                            <li class="alert__error-item">{{ form.errors.translated_fields[field] | capitalize }} {{ form.errors.messages[field] }}</li>
                                            {%- endif -%}
                                        {%- endfor -%}
                                        </ul>
                                    </div>
                                    {%- endif -%}
                                {%- endif -%}
                
                                <div class="form__input-row">
                                    <div class="form__input-wrapper form__input-wrapper--labelled">
                                    {%- assign form_author = form.author | default: customer.name -%}
                
                                    <input id="comment-form-name" type="text" class="form__field form__field--text {% if form_author != blank %}is-filled{% endif %}" name="comment[author]" value="{{ form_author | escape }}" required="required">
                                    <label for="comment-form-name" class="form__floating-label">{{ 'blog.comments.name' | t }}</label>
                                    </div>
                
                                    <div class="form__input-wrapper form__input-wrapper--labelled">
                                    {%- assign form_email = form.email | default: customer.email -%}
                
                                    <input id="comment-form-email" type="email" class="form__field form__field--text {% if form_email != blank %}is-filled{% endif %}" name="comment[email]" value="{{ form_email | escape }}" required="required">
                                    <label for="comment-form-email" class="form__floating-label">{{ 'blog.comments.email' | t }}</label>
                                    </div>
                                </div>
                
                                <div class="form__input-wrapper form__input-wrapper--labelled">
                                    <textarea id="comment-form-body" name="comment[body]" rows="5" class="form__field form__field--textarea {% if form.body != blank %}is-filled{% endif %}" required="required">{{ form.body }}</textarea>
                                    <label for="comment-form-body" class="form__floating-label">{{ 'blog.comments.content' | t }}</label>
                                </div>
                
                                <button type="submit" class="form__submit button button--primary button--min-width">{{ 'blog.comments.submit' | t }}</button>
                            </div>
                        {%- endform -%}
                    {%- endif -%}
                </div>
                
            </div>
    </div>
  </article>
  
  {% schema %}
  {
    "name": "Blog post",
    "settings": [
      {
        "type": "checkbox",
        "id": "show_category",
        "label": "Show category",
        "info": "The first article's tag will be shown as category.",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "show_author",
        "label": "Show author",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "show_date",
        "label": "Show date",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "show_share_buttons",
        "label": "Show share buttons",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "show_tags",
        "label": "Show tags",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "show_gravatar",
        "label": "Show comment avatar",
        "default": true
      }
    ]
  }
  {% endschema %}