{% assign commentCount = article.comments_count %}

{% if comment and comment.created_at %}
  {% assign commentCount = article.comments_count | plus: 1 %}
{% endif %}

<!-- <header class="page-header-wrapper">
  <h1 class="page-header">{{ article.title }}</h1>

</header> -->

<main class="page-wrapper article-wrapper article__page">
  <!-- {% if article.image %}
    <figure class="article__page__image">
      {{ article.image | img_url: "1024x" | img_tag }}
    </figure>
  {% endif %} -->

  <div class="article-content-wrapper grid-item-83">
    <div class="article__page__content">
      {{ article.content }}
    </div>



    {% if article.tags.size > 0 %}
      <div class="article-tags">
        {{ "blogs.blog.tagged" | t }}
        {% for tag in article.tags %}
          {{ tag | link_to_tag: tag }}{% unless forloop.last %},{% endunless %}
        {% endfor %}
      </div>
    {% endif %}
      <div class="article__page__share">
        <div class="article__page__share__buttons">
          {%- capture share_buttons -%}
          {%- assign share_url = shop.url | append: article.url -%}
          {%- assign twitter_text = article.title | url_param_escape -%}
          {%- assign pinterest_description = article.excerpt_or_content | strip_html | truncatewords: 15 | url_param_escape -%}
          {%- assign pinterest_image = article.image | img_url: 'large' | prepend: 'https:' -%}
                  <a href="https://twitter.com/share?{% if twitter_text != blank %}text={{twitter_text}}&{% endif %}url={{ share_url }}" target="_blank" rel="noopener"}}">{%- render 'icon-twitter' -%}</a>
                  <a href="https://www.facebook.com/sharer.php?u={{ share_url }}" target="_blank" rel="noopener"">{%- render 'icon-facebook' -%}</a>
                  <a href="https://pinterest.com/pin/create/button/?url={{ share_url }}{% if pinterest_image != blank %}&media={{ pinterest_image }}{% endif %}&description={{ pinterest_description }}" target="_blank" rel="noopener"}}">{%- render 'icon-pinterest' -%}</a>
          {%- endcapture -%}
          {{ share_buttons }}
        </div>
        <div class="article__page__updated">
          {% assign updated_at = article.updated_at | date: format: "date" %}
          {{ 'blogs.article.updated_at' | t: updated_at: updated_at}}
        </div>
      </div>

      <div class="article__page__author">
            <div class="article__page__author__image">
              {{article.author.image | img_url: "140x" | img_tag}}
            </div>
            <div class="article__page__author__text">
              <div class="article__page__author__text__name">
                {% if section.settings.written_by%}
                  <p>{{ section.settings.written_by}}</p>
                {% endif%}
                <h3>{{article.author}}</h3>
              </div>
              <div class="article__page__author__text__bio">
                {{article.user.bio}}
              </div>
            </div>
            
      </div>
      

    {% if blog.comments_enabled? %}
      {% paginate article.comments by 10 %}

        <section class="article-comments-wrapper" id="comments">
          <div class="article-comments">
            <h3>{{ 'blogs.comments.title' | t: count: article.comments_count }}</h3>

            {% if commentCount > 0 %}
              {% for comment in article.comments %}
                <blockquote>
                  {{ comment.content }}
                  <cite>{{ comment.author }}</cite>
                </blockquote>
              {% endfor %}
            {% endif %}

            {% if paginate.pages > 1 %}
              {% render "pagination", paginate: paginate, width: "full-width" %}
            {% endif %}
          </div>

          <div class="article-comments-form" id="comment_form">
            {% form 'new_comment', article %}

              {% if comment and comment.created_at %}
                <p class="form-success">
                  {% if blog.moderated? %}
                    {{ 'blogs.comments.success_moderated' | t }}
                  {% else %}
                    {{ 'blogs.comments.success' | t }}
                  {% endif %}
                </p>
              {% endif %}

              <div class="form-error">
                {{ form.errors | default_errors }}
              </div>

              <div class="form-row grid">
                <div class="form-field grid-item-50">
                  <label class="form-label" for="blog-comment-name" aria-label="{{ 'blogs.comments.name' | t }}">
                    <span class="form-field-title">{{ 'blogs.comments.name' | t }}</span>
                    <input type="text" name="comment[author]" class="form-input form-full {% if form.errors contains 'author' %}error{% endif %}" id="blog-comment-name" placeholder="{{ 'blogs.comments.name_placeholder' | t }}" value="{{ form.author }}" autocapitalize="words">
                  </label>
                </div>

                <div class="form-field grid-item-50">
                  <label class="form-label" for="blog-comment-email" aria-label="{{ 'blogs.comments.email' | t }}">
                    <span class="form-field-title">{{ 'blogs.comments.email' | t }}</span>
                    <input type="email" name="comment[email]" class="form-input form-full {% if form.errors contains 'email' %}error{% endif %}" id="blog-comment-email" placeholder="{{ 'blogs.comments.email_placeholder' | t }}" value="{{ form.email }}" autocorrect="off" autocapitalize="off">
                  </label>
                </div>
              </div>

              <div class="form-field form-field-textarea">
                <label class="form-label" for="blog-comment-message" aria-label="{{ 'blogs.comments.message' | t }}">
                  <span class="form-field-title">{{ 'blogs.comments.message' | t }}</span>
                  <textarea name="comment[body]" class="form-input form-full {% if form.errors contains 'body' %}error{% endif %}" id="blog-comment-message" placeholder="{{ 'blogs.comments.message_placeholder' | t }}">{{ form.body }}</textarea>
                </label>
              </div>

              {% if blog.moderated? %}
                <p class="article-comments-moderation">{{ 'blogs.comments.moderated' | t }}</p>
              {% endif %}

              <button class="button hover-animation" type="submit" value="{{ 'blogs.comments.submit' | t }}" aria-label="{{ 'blogs.comments.submit' | t }}"><span class="button-text">{{ 'blogs.comments.submit' | t }}</span></button>
            {% endform %}
          </div>
        </section>

      {% endpaginate %}
    {% endif %}
  </div>
</main>

{% schema %}
  {
    "name": "Blog post",
    "settings": [
      {
        "type": "text",
        "id": "written_by",
        "label": "Text above authors name",
        "default": "Written by"
      }
    ]
  }
  {% endschema %}