

<section 
data-section-id="{{ section.id }}" 
class="text-columns__wrapper homepage-content--{{ section.id }}"
data-section-child="featured-products" 
data-section-type="home"
data-section-style="slider"

	{% render 'animations', type: 'fadeUpAnim1' %}
>
		<style>
			{% if section.settings.background_image != blank %}
				.homepage-content--{{ section.id }} .img {
					background-position: center;
					background-repeat: no-repeat;
					background-size: cover;
				}
			{% endif %}
		</style>

<div class="text-columns">
  {% capture image_layout %}
    <div class="text-columns__image">
        {% if section.settings.background_image != blank %}
        {%
                  render 'image-bg',
                  image_class: 'img',
                  image: section.settings.background_image,
                  image_default: false,
                  image_sizes: false,
                  image_additional_content: false,
                  image_dimension: false,
                  image_link: false
                %}
        {% else %}
        <span class="svg-placeholder">{{ 'lifestyle-1' | placeholder_svg_tag }}</span>
        {% endif %}
    </div>
  {% endcapture %}

  {% if section.settings.show_background %}
  {{ image_layout }}
  {% endif %}

  {% render 'text-columns-grid', section: section %}
    
  </div>


</section>




{% schema %}
{
  "name": "Text Columns",
  "tag": "section",
  "class": "text-columns",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "Heading"
    },
    {
        "type": "header",
        "content": "Background image settings"
    },
    {
        "type": "checkbox",
        "id": "show_background",
        "label": "Show background image",
        "default": false
    },
    {
        "type": "image_picker",
        "id": "background_image",
        "label": "Background image"
    },
    {
      "type": "header",
      "content": "Bow lines settings"
    },
    {
      "type": "checkbox",
      "id": "show_bow_lines",
      "label": "Show bow lines",
      "info": "Only works without slider enabled",
      "default": false
    }    
  ],
  "blocks": [
  {
    "name": "Column",
    "type": "column",
    "settings": [
      {
        "type": "richtext",
        "id": "paragraph",
        "label": "Paragraph"
      },
      {
        "type": "richtext",
        "id": "column_heading",
        "label": "Heading"
      },
      {
        "type": "text",
        "id": "subheading",
        "label": "Subheading"
      }
    ]
  }
],
"presets": [
    {
    "name": "Text columns"
    }
  ]
}
{% endschema %}